<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ReportDao">
   <!-- <insert id="insertReport">
   </insert>
   <update id="updateReport">
   </update> 
   <delete id="deleteReport">
   </delete> -->
   <select id="selectAllReport"
      resultType="com.example.model.Report">
   </select>

   <select id="memberCheck" resultType="report" parameterType="hashMap">
      select * from report where rm_num=#{rm_num} and m_mail1=#{m_mail1} and m_mail2=#{m_mail2}
   </select>


   <!-- /*=============용화=============*/ -->
   <insert id="insert" parameterType="report">
      insert into report
      values(#{rep_num},#{rm_num},#{m_mail1},#{m_mail2},#{replist_num},#{replist_status},#{rep_date1},#{rep_date2})
   </insert>
   <select id="selectRestaurant" parameterType="int"
      resultType="int">
      select count(*) from report where replist_status=1 and rm_num=#{rm_num}
   </select>


   <!-- /*=============소연=============*/ -->
   <select id="selectAll" resultType="com.example.model.Report">
      select * from report
   </select>

   <select id="selectBoardPage"
      resultType="com.example.model.Report"
      parameterType="java.util.HashMap">
      select * from report order by rep_num desc limit #{offset},#{boardsPerPage}
   </select>

   <select id="getCount" resultType="int">
      select count(*) from report r, restmodify rm where rm.rm_num=r.rm_num
   </select>
   
   <select id="getCount2" resultType="int">
      select count(*) from report r, restmodify rm where replist_status = 1 and rm.rm_num=r.rm_num;
   </select>
   
   <!-- Report테이블을 재수정하여 번호에 따른 내용 출력될 수 있도록 가져오기.  -->
   <select id="selectReportList" parameterType="java.util.HashMap"
      resultType="com.example.model.adminReport">
      select rep_num,restmodify.rm_name as 'r_name', report.rm_num,restmodify.r_num,e1.email as 'req',e2.email as 'resp',replist_content,
      represult_content, rep_date1,rep_date2
      from report,email e1, email e2,replist, represult,restmodify
      where report.m_mail1 =e1.email_num and report.m_mail2 =e2.email_num
      and replist_status=represult.represult_num and
      report.replist_num=replist.replist_num and report.rm_num = restmodify.rm_num
      order by rep_num desc
       limit #{offset},#{boardsPerPage};
   </select> 
   
   <update id="updateReport">
      update report set replist_status = 2, rep_date2=now() where rep_num=#{rep_num};
   </update>
   
     <select id="selectByRm" resultType="report">
      select * from report where rm_num=#{rm_num} and replist_status=1
   </select>
   
      <delete id="deleteReport" parameterType="int">
      delete from report where rep_num=#{rep_num}
   </delete>
   

   
</mapper>

















