<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.RestaurantDao">

<update id="deleteResImg">
      update restaurant set r_photo = null where r_num = #{r_num}
   </update> 

<!-- /*=============성록=============*/ -->
<!-- // 레스토랑매퍼추가 -->
     <select id="selectRestaurantByRNum" resultType="com.example.model.Restaurant">
        select * from restaurant where r_num = #{r_num}
     </select>
     <update id="updateResImg">
      update restaurant set r_photo = #{r_photo} where r_num = #{r_num}
   </update>  

<!-- /*=============용화(v2)=============*/ -->
	<update id="countUpdate">
		update restaurant set r_count=#{r_count} where r_num=#{r_num}
	</update>



<!-- /*=============용화(v1)=============*/ -->
    <insert id="insertRestaurant2" useGeneratedKeys="true" keyProperty="r_num">
      insert into restaurant values(0,#{r_name},#{r_phone},#{r_address},#{r_lat},#{r_lon},#{r_category1},#{r_category2},null,null,null,null,null,null,null,0)
  	</insert>
  	
  	
    <insert id="insertRestaurant">
      insert into restaurant values(0,#{r_name},#{r_phone},#{r_address},#{r_lat},#{r_lon},#{r_category1},#{r_category2},null,null,null,null,null,null,null,0)
  	</insert>
    <update id="updateRestaurant">
  	</update>
    <delete id="deleteRestaurant">
      delete from restaurant where r_num = #{r_num}
    </delete>
  	<!-- <select id="selectAllRestaurant" resultType="com.example.model.Restaurant">
  	</select> -->
  	<select id="selectOneRestaurantNum" resultType="int">
      select r_num from restaurant where r_name = #{r_name} and r_address = #{r_address}
  	</select>
  	
    <!-- /*=============용화수정(v1)=============*/ -->
    <select id="countRestaurantNum" resultType="int">
      select r_num from restaurant where r_name = #{r_name} and r_address = #{r_address}
  	</select>
  	
    <select id="selectRestaurantByLikeandMark" resultType="java.util.HashMap">
      select * from restaurant r,evaluation e where (m_num = #{m_num} and r.r_num = e.r_num) and (e.e_like = 1 or e.e_mark = 1)
  	</select>
    <select id="selectRestaurantByLike" resultType="java.util.HashMap">
      select * from restaurant r,evaluation e where (m_num = #{m_num} and r.r_num = e.r_num) and (e.e_like = 1)
  	</select>
    <select id="selectRestaurantByMark" resultType="java.util.HashMap">
      select * from restaurant r,evaluation e where (m_num = #{m_num} and r.r_num = e.r_num) and (e.e_mark = 1)
  	</select>
  	
  	<!-- /*=============소연=============*/ -->
  	<select id="selectOneRestaurantName" parameterType="String" resultType="com.example.model.Restaurant">
  		select * from restaurant where r_name = #{r_name} and r_address=#{r_address};
  	</select>
  	
  	<select id="selectAllRestaurant" resultType="com.example.model.Restaurant">
  		select * from restaurant;
  	</select>
  	
  	
  	
  	<update id="updateRestaurantByReport" parameterType="com.example.model.RestModify">
  		update restaurant set r_price=#{rm_price}, r_enjoy=#{rm_enjoy}, r_rundate=#{rm_rundate}, r_runtime=#{rm_runtime},
  		r_intro=#{rm_intro},r_menu=#{rm_menu} where r_num=#{r_num};
  	</update>
  	
  	
  	
  	
  	<select id="selectBoardPage" parameterType="java.util.HashMap" resultType="com.example.model.Restaurant">
  		select * from restaurant  limit #{offset},#{boardsPerPage}
  	</select>
  	
  	<select id="getCount" resultType="int">
		select count(*) from restaurant;
	</select>
	
	<!-- 관리자 페이지 음식점 검색 -->
	<select id="selectBoardPagebyKeyword" parameterType="java.util.HashMap" resultType="com.example.model.Restaurant">
  		select * from restaurant  where r_name like '%${keyword}%' limit #{offset},#{boardsPerPage}
  	</select>
  	
  	<select id="getCountKeyword" resultType="int" parameterType="java.util.HashMap">
  		select count(*) from restaurant  where r_name like '%${keyword}%'
  	</select>
	
	
  	
  	
  	<!-- /*=============용화=============*/ -->
  	<select id="selectOne" parameterType="int" resultType="com.example.model.Restaurant">
			select * from restaurant where r_num=#{r_num}
		</select>    
		<update id="updateInfo" parameterType="com.example.model.RestModify">
			update restaurant set r_phone=#{rm_phone},r_runtime=#{rm_runtime},r_rundate=#{rm_rundate},r_menu=#{rm_menu},r_intro=#{rm_intro},r_enjoy=#{rm_enjoy} where r_num=#{r_num}	
		</update>	
		
	<select id="selectAllRestaurantName" resultType="string" parameterType="java.util.HashMap">
      select r_name from restaurant  where r_name like CONCAT( '%', #{keyword} ,'%') limit 8
   </select>
  </mapper>