<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ReviewDao">
 <!-- 수정(v1) -->
	<select id="ReviewInfo" parameterType="int" resultType="review">
		select * from review where rev_num=#{rev_num}
	</select>
	<insert id="insert" parameterType="review" useGeneratedKeys="true" keyProperty="rev_num" >
		insert into review values(#{rev_num},#{r_num},#{m_num},#{rev_content},#{rev_grade},#{rev_date},#{rev_path})
	</insert>
	<update id="update" parameterType="review">
		update review set rev_content=#{rev_content},rev_grade=#{rev_grade},rev_date=#{rev_date} where rev_num=#{rev_num}
	</update>
    
  	<select id="selectAllReview" resultType="com.example.model.Review">
  	</select>
  	
  	<!-- /*=============용화=============*/ -->
  	<select id="ReviewSelect" parameterType="int" resultType="hashMap">
			SELECT m.m_photo,m.m_nick, m.m_level ,r.* FROM review r, memberlist m where r.m_num=m.m_num and r.r_num=#{r_num};
		</select>
		
		 <delete id="deleteReview">
       delete from review where rev_num=#{rev_num}
    </delete>
  </mapper>